
<%= link_to "Sign out", sign_out_url ,method: :delete %>

<h1>Welcome <a href="users/<%= "#{current_user.id}" %>"><%=current_user.email%></a></h1>



<!-- create a list -->
<h1>Create a listing</h1>
