<div class="jumbotron">
    <div class="container">
      <h1 style="margin-left: 370px;">Profile for <%= @user.user_name %></h1>

      <p style="margin-left: 370px;"><%= link_to "Edit", edit_user_path(@user) %></p>
    </div>
</div>

<div class="profile-container">
  <div class="container">
    <div class="img-card">
      <%= image_for(@user) %>
        <div class="profile-content">
          <h2 class="lead profile-font"><%= @user.email %></h2>
            <p class="lead"><strong>about</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam libero quae veniam. Natus maxime explicabo praesentium, asperiores deleniti nostrum dolore. Nesciunt suscipit odio, doloremque incidunt consectetur reiciendis obcaecati. Incidunt, rem?</p>
        </div>
    </div>
    </div>
