// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-wrapper {
  float: left;
  width:650px;
  height:600px;
  padding: 10px;
  overflow: hidden;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.card-img2 {
  width: 650px;
  height: auto;
  float: left;
  margin-top: 10px;
  background: #ccc;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24)
}


.booknw {
  padding: 10px;
}

.card-content2 {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
