// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Login Field
.table-book {
  width: 750px;
  margin-top: -570px;
  margin-left: 380px;
  margin-right: auto;
}
